<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item> 
    <ion-label>Lista de Productos del PKafe </ion-label>
  </ion-item>
  <ion-item *ngFor="let producto of inventario">
    <ion-label class="list-label">{{ producto.nombre }} </ion-label>
    <ion-label>{{ producto.cantidad }}</ion-label>
    <ion-label>{{ producto.costo }}pk</ion-label>
  </ion-item>
</ion-list>
</ion-content>