<ion-header>
  <ion-toolbar>
    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row  style="border-bottom: groove;">
    <ion-col col-2>
    <ion-label >Pkoin</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Solicitante</ion-label>
  </ion-col>
    <ion-col col-2>
    <ion-label >Fecha</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Aceptar</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Rechazar</ion-label>
  </ion-col>
</ion-row>
<ion-row *ngFor="let solicitud of misSolicitudes" style="border-bottom: groove;">
    <ion-col col-2>
    <ion-label >{{solicitud._idPkToken._id | slice:19}}</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >{{solicitud.solicitante.nombre}}</ion-label>
  </ion-col>
    <ion-col col-2>
    <ion-label >{{solicitud.fecha | date: 'short'}}</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-button (click)="acepto(solicitud.solicitante._id, solicitud._idPkToken._id, solicitud._id)">+</ion-button>
  </ion-col>
  <ion-col col-2>
    <ion-button (click)="rechazo(solicitud._id)" color="danger">-</ion-button>
  </ion-col>
</ion-row>
</ion-content>
