
.content{
  background: url('../../assets/fondo.jpg') ;
  background-size: cover;
  
  }
  
  

.content-img{
  width: 35%;
  height: auto;
  margin: auto;
  overflow: hidden;
  
  img{
    width: 1890px;
      height: auto;
      // height: 100%;
  }
}
ion-item{
  --color: black;
}
ion-button{
  --background: red;
}
a{
  color: black;
}