<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Cash</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Escaner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>
     
    <ion-tab-button tab="tab5">
      <ion-icon name="filing"> </ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
