<ion-header>
    <ion-toolbar>
        <ion-title>
            Escaner
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-button (click)="scan()">
        scan
    </ion-button> -->
    <ion-slides [options]="swiperOpts">
        <ion-slide>
            <ion-button expand="full" fill="outline" (click)="scan()" size="large" shape="round">
                Scan pkToken
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-content></ion-content>