<ion-header>
    <ion-toolbar>
        <ion-title>
            Pkoins
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center; color: blue;">
    <h1>${{total}}.00</h1>
  </div>

  <ion-row  style="border-bottom: groove;">
        <ion-col col-4>
        <ion-label >Id</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Monto</ion-label>
      </ion-col>
        <ion-col col-4>
        <ion-label >Fecha</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pktoken of pktokens" style="border-bottom: groove;">
        <ion-col col-4>
        <ion-label >{{pktoken._id | slice:19}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{pktoken.monto}}</ion-label>
      </ion-col>
        <ion-col col-4>
        <ion-label >{{pktoken.fechaCreado | date: 'short'}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-content>