<ion-header text-center>
    <ion-toolbar>
        <ion-title>
            Configuración de Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content text-center>
    <ion-content padding class="no-scroll">
        <ion-list>
            <!-- <img *ngIf="!img" class="circle-pic" (click)="camara()" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" />
            <img *ngIf="img" src='img' /> -->

            <ion-item>
                <ion-input type="text" [formControl]="nombreCtrl" placeholder="Nombre"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="email" [formControl]="emailCtrl" disabled placeholder="Email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="password" [(ngModel)]="password" [formControl]="passwordCtrl" placeholder="Contraseña"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="password" [(ngModel)]="rpassword" placeholder="Repetir contraseña"></ion-input>
            </ion-item>
        
            <ion-item *ngIf="password != rpassword">
                <span class="red">Las contraseña no coinciden</span>
            </ion-item>
        </ion-list>

        <ion-button size="large" type="submit" [disabled]="!form.valid || (password != rpassword)" (click)="presentAlertConfirm()" expand="block">Actualizar Informacion</ion-button>
    </ion-content>
</ion-content>