
.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
   width:150px;
   height:150px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.red{
   color: red;
}